/*                     */
/*    COMMON STYLES    */
/*                     */
@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input, textarea {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, menu, nav, section, time {
    display: block;
}

html, body {
    overflow: hidden;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    /* color: black;
    background-color: #1F1F1F;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
}

a {
    color: inherit;
    text-decoration: none;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* #region common */
.centerized {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centerized-horizontal {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}

.centerized-vertical {
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.bgimage-full-size {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hidden {
    visibility: collapse;
}

.visible {
    visibility: visible;
}

/* #endregion */

/* #region maintenance */

.mt-panel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 600px;
    width: 700px;
    background-color: #FF0000A1;
    box-shadow: 0px 0px 10px 3px #FF000081;
}

.mt-panel-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 600px;
    width: 700px;
    background-color: #2F353EA1;
    box-shadow: 0px 0px 10px 3px #2F353E81;
}

.mt-panel-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 580px;
    width: 680px;
    background-color: #FFFFFF;
    border: 1px solid #1F1F1F;
}

.mt-label-primary {
    position: absolute;
    top: 140px;
    font-family: Consolas;
    font-weight: bold;
    font-size: 40px;
    color: #000000;
}

.mt-label-secondary {
    position: absolute;
    bottom: 140px;
    font-family: Consolas;
    font-size: 22px;
    color: #000000;
    text-align: center;
}


/* #endregion */

/* #region mainpage */

.mainpage-sidebar {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 310px;
    height: 100%;
    background-color: #2F353EA1;
    box-shadow: 0px 0px 10px 2px;
    backdrop-filter: blur( 40px );
    flex-direction: column;
    padding-top: 100px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 5px;
}

.mainpage-sidebar-btn {
    background-color: #00000000;
    border: 0px solid #FFFFFF;
    width: 100%;
    height: 45px;
    font-family: Consolas;
    font-size: 24px;
    color: #FFFFFF;
    border-radius: 5px;
    box-shadow: none;
    margin-bottom: 10px;
    transition-duration: 500ms;
}

.mainpage-sidebar-btn-home {
    font-size: 32px;
    height: 55px;
}

.mainpage-sidebar-btn:hover {
    background-color: #FFFFFF51;
    box-shadow: 0px 0px 10px 0px #000000A1;
    color: #000000;
}

.mainpage-bg {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-image: url('../images/test_1080p.bmp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.mainpage-header {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 66px;
    background-color: #FFFFFF41;
    box-shadow: 0px 0px 10px 2px;
    backdrop-filter: blur( 60px );
}

.mainpage-tabcont {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: #00000021;
    backdrop-filter: blur( 60px );
    transition-duration: 1000ms;
    border-right: 1px solid #FFFFFF;
}

.mainpage-tabcont--nocontent {
    width: 0px;
}

/* #endregion */

/* #region popups*/

.popup-container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #00000000;
    backdrop-filter: blur( 60px );
    transition-duration: 1000ms;
}

.popup-container-frame {
    visibility: collapse;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 500px;
    height: 500px;
    background-color: #2F353E81;
    box-shadow: 0px 0px 10px 2px;
}

.popup-container-std {
    visibility: collapse;
    width: 700px;
    height: 350px;
    background-color: #2F353E81;
    box-shadow: 0px 0px 10px 2px;
}

.popup-std-title {
    position: absolute;
    padding: 0px;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 60px;
    background-color: #00000041;
    box-shadow: 0px 0px 10px 2px;
}

.popup-std-label-title {
    position: absolute;
    top: 6px;
    left: 10px;
    height: 100%;
    color: #C3C3C3;
    font-family: Consolas;
    font-weight: bold;
    font-size: 40px;
}

.popup-std-label-desc {
    position: absolute;
    top: 70px;
    left: 10px;
    height: 100%;
    color: #C3C3C3;
    font-family: Consolas;
    font-size: 23px;
}

.popup-std-button {
    position: absolute;
    bottom: 20px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    right: 20px;
    border-radius: 5px;
    background-color: #FFFFFF31;
    font-family: Consolas;
    font-size: 23px;
    transition-duration: 700ms;
    border: none;
    color: #FFFFFF;
    box-shadow: none;
}

.popup-std-button:hover {
    border: 1px solid #FFFFFFE1;
    box-shadow: 0px 0px 8px 0px;
    background-color: #106AFF;
    color: #FFFFFF;
}


.popup-std-button:disabled {
    border: none;
    box-shadow: none;
    background-color: #FFFFFF71;
    color: #000000;
}


.popup-std-button:disabled:hover {
    border: none;
    box-shadow: none;
    background-color: #FFFFFFA1;
    color: #000000;
}


/* #endregion */